
@font-face {
  font-family: 'Grtsk Roman Variable';
  src: url('./TRY_Grtsk_Roman_Variable.ttf') format('truetype');
}

@font-face {
  font-family: 'Grtsk Variable';
  src: url('./TRY_Grtsk_Variable.ttf') format('truetype');
}
