
@font-face {
  font-family: 'Bandeins Sans Variable';
  src: url('./BandeinsSansVariableGX.ttf') format('truetype');
}

@font-face {
  font-family: 'Bandeins Strange Variable';
  src: url('./BandeinsStrangeVariableGX.ttf') format('truetype');
}

@font-face {
  font-family: 'Spezia Mono';
  src: url('./Spezia_Web_Monospace_Complete_Trial.woff') format('woff-variations'), url('./Spezia_Web_Monospace_Complete_Trial.woff2') format('woff2-variations');
}

@font-face {
  font-family: 'Spezia Mono';
  src: url('./Spezia_Web_Monospace_Complete_Trial.woff') format('woff-variations'), url('./Spezia_Web_Monospace_Complete_Trial.woff2') format('woff2-variations');
}

@font-face {
  font-family: 'Grtsk Roman Variable';
  src: url('./TRY_Grtsk_Roman_Variable.ttf') format('truetype');
}

@font-face {
  font-family: 'Grtsk Variable';
  src: url('./TRY_Grtsk_Variable.ttf') format('truetype');
}
